.in{
    font-size: 1.1rem;
    display: flex;
    width: fit-content;
    color: rgb(33, 69, 160);
}
input{
    max-width: 320px;
    margin-left: 40px;
}
.education{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.bac{
    background-color: blanchedalmond;
}
.month{
    margin-top: 10px;
}