.experience{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
textarea{
    max-width: 300px;
    min-height: 100px;
}
.back{
    background-color: rgb(219, 182, 253);
    border: 1px solid red;
}
.in{
    font-size: 1.1rem;
    display: flex;
    width: fit-content;
    color: darkblue;
}
.desc{
    margin-top: 0px;
    border: 1px solid red;
    text-wrap: wrap;
    overflow-x:scroll;
    overflow-y: scroll;
    max-width: 350px;
    height: auto;
}