
.resume{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.basic{
    box-sizing: content-box;
    background-color: aliceblue;
    width: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid green;
}
.in{
    display: flex;
    width: fit-content;
    margin-left: 5px;
}
.inf{
    font-size: 1rem;
    margin-left: 0px;
}
.index{
    width: 110px;
    font-size: 1rem;
    margin-right: 1px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 490px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
h4{
    margin-top: 4px;
    margin-bottom: 0px;
    font-size: 1rem;
    font-weight: 500;
    color: darkblue;
    margin-left: 5px;
}
label{
    max-width: 400px;
    display: flex;
    justify-content: space-between;

}
input{
    margin-left: 10px;
    width: 350px;
    height: 20px;
    font-size: 1rem;
    margin: 2px;
}
.month, .year{
    width: 300px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black;
}
.month > input{
    width: 150px;
    font-size: 1.1rem;
}
.year > input{
    width: 150px;
    font-size: 1.1rem;
}
textarea{
    min-width: 340px;
}
button{
    margin: 10px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}
.info{
    border: 1px solid black;
    min-width: 370px;
    border-radius: 1px;
    padding: 8px;
    margin-bottom: 10px;
    border-top: 5px solid rgb(1, 102, 87);

}
.info > div{
    width: auto;
    display: flex;
    justify-content: start;
    max-width: 520px;

}
.date{
    font-size: 0.9rem;
    font-weight: 400;
    width: 350px;
    margin-top: 1spx;
    margin-left: 5px;
}
.date > div{
    margin-right: 10px ;
}
li{
    list-style: none;
}
.label1{
    min-width: 340px;
}
.input1{
    min-width: 250px;
}
