
.resume{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.basic{
    box-sizing: content-box;
    background-color: whitesmoke;
    width: fit-content;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
    border: 1px solid green;
}
.in{
    font-size: 1.1rem;
    display: flex;
    width: fit-content;
}
.inf{
    font-size: 1rem;
    font-weight: 500;
    margin-left: 20px;
}
.info > .in > .inf{
    font-size: 1.1rem;
} 
.index{
    width: 130px;
}
form{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
h4{
    margin-top: 4px;
    margin-bottom: 0px;
}
label{
    max-width: 400px;
    display: flex;
    justify-content: space-between;

}
input{
    margin-left: 40px;
    width: 350px;
    height: 22px;
    font-size: 1.1rem;
    margin: 2px;
}
.month, .year{
    width: 300px;
    font-size: 1rem;
    font-weight: 700;
    border: 1px solid black;
}
.month > input{
    width: 150px;
    font-size: 1.1rem;
}
.year > input{
    width: 150px;
    font-size: 1.1rem;
}
button{
    margin: 10px;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
}
.info{
    border: 1px solid grey;
    box-shadow: 2px 2px 20px grey;
    min-width: 370px;
    border-radius: 15px;
    padding: 8px;
    margin-bottom: 10px;

}
.info > div{
    font-size: 1rem;
    width: 350px;
    display: flex;
    justify-content: start;

}
.date{
    font-size: 1.1rem;
    font-weight: 600;
    width: 350px;
    margin-top: 10px;
}
.date > div{
    margin-right: 10px ;
}
li{
    list-style: none;
}